*{font-size: 12px;}
html,body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,submit,input,textarea,select,table,tr,th,td,hr,pre,sup,address,cite,dfn,em,var,blockquote { margin:0; padding:0}
html {border:none 0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body { font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;word-wrap:break-word;word-break:break-all;background: #eef3fa;}
ul,ol { list-style-type:none;}
button,submit,input,select,textarea {font:12px/1.5 Tahoma,"Microsoft YaHei",arial,simsun,sans-serif; outline:none;}
button,submit,input,select { vertical-align:middle;}
button,submit { cursor:pointer;}
textarea { resize:none; outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner { padding:0; border:none;}
table { border-collapse:separate;border-spacing:0;}
th,td { text-align:left;}
address,cite,dfn,em,var{font-style:normal; }
img { border:none; vertical-align:middle;}
a { outline:none;cursor: pointer;text-decoration: none;color: #fff;}
iframe {vertical-align: top;}
*html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
.ui_clear{*zoom:1}
.ui_clear:after{content:'\20';display:block;clear:both;height:0;overflow: hidden;}
.hide {display: none;}
.clearfloat:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }
.clearfloat { zoom: 1; }
.clear { *zoom: 1; }
.clear:after { content: '\20'; display: block; height: 0; clear: both; }
.clear { clear: both; }
.fl{float: left;}
.fr{float:right;}
.kjs{width: 1226px;margin: 0 auto;}
.mt30{margin-top: 30px;}.mb10{margin-bottom: 10px;}
.pd20{padding-left: 20px;}
.btn180{width: 180px;height: 40px;background: #ccc;line-height: 40px;text-align: center;border-radius: 3px;display: block;color:#fff;}
.btn70{width:70px;height:30px;background: #5583db;line-height:30px;text-align: center;border-radius: 3px;display: block;color:#fff;margin: 0 auto;color:#fff;}
.btn100{width:100px;height:30px;background: #5583db;line-height:30px;text-align: center;border-radius: 3px;display: block;color:#fff;margin: 0 auto;color:#fff;}
.curNo{cursor: default}
.curYes{cursor: pointer;background: #5583db;}
.h30{height: 30px;}
.textC{text-align: center}
.Made-nav{height: 40px;line-height: 40px;margin-top: 10px;}
.Made-nav a{cursor: pointer;font-size: 12px;color:#666;}
.restIcon{background: url("../../../resources/common/images/indexIcon.png") no-repeat;display: inline-block;vertical-align:top;}

