table td{vertical-align: middle !important;}
.ct-row{width:100%;height:auto;padding:8px 20px 8px 20px;overflow:hidden;}
.ct-row .ct-cln{float:left;display:inline-block;margin-right:30px;}
.fl-left{float:left;}
.fl-right{float:right;}
.column{overflow: hidden;  border-bottom: dotted #CCC 1px; margin-left: 0px;margin-right: 30px;color:#666;}
.column .title_left{ float:left;width:40px;display:inline-block;text-align: left; padding:5px; line-height: 25px;}
.column .title_left b{font-size: 14px !important;font-family:"微软雅黑";}
.column .content_right{ padding:5px;  }
.column .content_right input,.column .content_right select{  vertical-align: top;  }
.column .content_right label input[type="checkbox"]{width:20px;height:20px;vertical-align: middle;}
.form-group .show-file img{max-width: 100%;max-height: 400px;}
.hide{display: none}
audio{vertical-align: middle;}
.del{color: #989898;font-size:13px;margin-left:20px;}
.ctl-column a{margin-left:10px;}
.ellipsis{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.dv-margin-10{margin:10px;overflow: hidden;}
.tip{color:red;margin-top:5px;display:inline-block;}
.re .checkbox-inline{margin-left:0px;margin-right:10px;}
ul.mu-10,ol.mu-10,ul.mu-15,ol.mu-15,ul.mu-20,ol.mu-20,ul.mu-30,ol.mu-30,ul.mu-40,ol.mu-40 {list-style: none;margin:0px;padding:0px;}
ul.mu-10 li,ol.mu-10 li,ul.mu-15 li,ol.mu-15 li,ul.mu-20 li,ol.mu-20 li,ul.mu-30 li,ol.mu-30 li,ul.mu-40 li,ol.mu-40 li{float:left;margin-top:8px;text-align: center;}
ul.mu-10 li,ol.mu-10 li{width:10%;}
ul.mu-15 li,ol.mu-15 li{width:15%;}
ul.mu-20 li,ol.mu-20 li{width:20%;}
ul.mu-30 li,ol.mu-30 li{width:30%;}
ul.mu-40 li,ol.mu-40 li{width:40%;}